In [2]:
#!/usr/bin/env python
# -=-<[ Bismillahirrahmanirrahim ]>-=-
# -*- coding: utf-8 -*-
# @Date    : 2022-07-22 09:25:51
# @Author  : Dahir Muhammad Dahir (dahirmuhammad3@gmail.com)
# @Link    : link
# @Version : 1.0.0


"""
As you may have noticed, several of the operations mentioned work equally for texts,
lists and tables. Texts, lists and tables together are called 'trains'. [...] The FOR command also works 
generically on trains.
—Leo Geurts, Lambert Meertens, and Steven Pembertonm, ABC Programmer's
Handbook
"""

# #### List Comprehension and Generator Expressions
# ## Example 2-1
# Build a list of Unicode points from a string

symbols = "$¢£¥€¤"
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

In [3]:
# ## Example 2-2
# Build a list of Unicode points from a string with listcomp

symbols = "$¢£¥€¤"
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [4]:
# ## Example 2-3
# the same list built by listcomp and filter/map composition

symbols = "$¢£¥€¤"
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [5]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [6]:
# ## Example 2-4
# Cartesian product using listcomp

colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [10]:
# #### Generator Expressions
# ## Example 2-5
# Initializing a tuple and an array from genexp

symbols = "$¢£¥€¤"
tuple(ord(symbol) for symbol in symbols)

import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [11]:
# ## Example 2-6
# Cartesian product in generator expressions

colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [15]:
# ## Example 2-7
# Tuples used as records

lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

print([f'{a}/{b}' for a, b in sorted(traveler_ids)])

['BRA/CE342567', 'ESP/XDA205856', 'USA/31195855']

In [17]:
# ### Unpacking sequence and iterables

lax_coordinates = (33.9425, -118.408056)
longitude, latitude = lax_coordinates

print(longitude)
print(latitude)

33.9425
-118.408056

In [18]:
# swapping variables without using temporary variables
a, b = 1, 2

a, b = b, a

a, b

(2, 1)

In [19]:
# more unpacking

t = (20, 8)

quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [20]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [22]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [23]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [24]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [26]:
*head, b, c, d = range(10)
head, b, c, d

([0, 1, 2, 3, 4, 5, 6], 7, 8, 9)

In [27]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest


fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [32]:
*range(4), 4
[*range(5), 5]
{*range(4), 4, *(5, 6, 7)}

{0, 1, 2, 3, 4, 5, 6, 7}

In [37]:
# ## Example 2-8
# Unpacking Nested tuples to access the longitude

metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for name, _, _, (lat, lon) in metro_areas:
        if lon <= 0:
            print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [1]:

metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for record in metro_areas:
        match record:
            case [name, _, _, (lat, lon)] if lon <=0:
                print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')


main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [2]:
# #### Slicing

l = [10, 20, 30, 40, 50, 60]
l[:2]

[10, 20]

In [3]:
l[2:]

[30, 40, 50, 60]

In [4]:
l[:3]

[10, 20, 30]

In [5]:
# ## Slice Objects
s = 'bicycle'
s[::3]

'bye'

In [6]:
s[::-1]

'elcycib'

In [7]:
s[::1]

'bicycle'

In [8]:
s[::-2]

'eccb'

In [10]:
# ## Example 2-13
# Line items from a flat-file invoice

invoice = """
1909   Pimoroni PiBrella    $17.50    3    $52.50
1601   PiTFT Mini Kit       $17.50    3    $52.50
"""

SKU = slice(0, 6)
DESCRIPTION = slice(7, 25)
UNIT_PRICE = slice(28, 34)
QUANTITY = slice(38, 39)
ITEM_TOTAL = slice(43, None)

invoice_list = invoice.split('\n')

for item in invoice_list:
    print(item[UNIT_PRICE], item[DESCRIPTION])

$17.50 Pimoroni PiBrella
$17.50 PiTFT Mini Kit

In [1]:
# ### Example 2-14
# A list with three list of length 3 can represent a tic tac toe board

board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [3]:
board[1][2] = 'X'
board
print(board)

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [4]:
l = [1, 2, 3]
id(l)

140222138983040

In [5]:
l *= 2
id(l)

140222138983040

In [6]:
t = (1, 2, 3)
id(t)

140222138951552

In [7]:
t *= 2
id(t)

140222168143744

In [8]:
# ### Example 2-16
# A riddle

t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [9]:
t

(1, 2, [30, 40, 50, 60])

In [10]:
# ### Example 2-18
# Bytecode for the expression s[a] += b
import dis

dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

In [11]:
# sorting

fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [12]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [13]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [14]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [15]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [1]:
# Example 2-19
# Creating, saving and loading a list of large array of float

from array import array
from random import random

floats = array('d', (random() for i in range(10**7)))

print(floats[-1])

0.9671452866596932

In [2]:
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()

In [3]:
floats2 = array('d')
fp = open('floats.bin', 'rb')
floats2.fromfile(fp, 10**7)
fp.close()

In [4]:
floats2[-1]

0.9671452866596932

In [5]:
floats2 == floats

True

In [9]:
# Example 2-20
# Handling 6 bytes of memory as 1x6, 2x3, and 3x2 view

from array import array

octets = array('B', range(6))

m1 = memoryview(octets)
m1.tolist()

[0, 1, 2, 3, 4, 5]

In [10]:
m2 = m1.cast('B', [2, 3])
m2.tolist()

[[0, 1, 2], [3, 4, 5]]

In [13]:
m3 = m1.cast('B', [3, 2])
m3.tolist()

[[0, 1], [2, 3], [4, 5]]

In [16]:
m2[1,1] = 22

In [17]:
m3[1,1] = 33

In [18]:
octets

array('B', [0, 1, 2, 33, 22, 5])

In [19]:
# Example 2-21
# changing the values of a 16-bit integer array item by poking one of it's bytes

numbers = array('h', [-2, -1, 0, 1, 2])

In [20]:
numbers.tolist()

[-2, -1, 0, 1, 2]

In [21]:
memv = memoryview(numbers)
len(memv)

5

In [22]:
memv[0]

-2

In [24]:
memv_oct = memv.cast('B')
memv_oct.tolist()

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]

In [26]:
memv_oct[5] = 4

In [29]:
numbers

array('h', [-2, -1, 1024, 1, 2])

In [28]:
# Deques and other Queues

# Example 2-23
# Working with a deque

from collections import deque

dq = deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
dq.rotate(3)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [48]:
dq.rotate(-4)
dq

deque([5, 6, 7, 8, 9, 0, 1, 2, 3, 4])