In [2]:
#!/usr/bin/env python
# -=-<[ Bismillahirrahmanirrahim ]>-=-
# -*- coding: utf-8 -*-
# @Date    : 2022-07-22 09:25:51
# @Author  : Dahir Muhammad Dahir (dahirmuhammad3@gmail.com)
# @Link    : link
# @Version : 1.0.0


"""
As you may have noticed, several of the operations mentioned work equally for texts,
lists and tables. Texts, lists and tables together are called 'trains'. [...] The FOR command also works 
generically on trains.
—Leo Geurts, Lambert Meertens, and Steven Pembertonm, ABC Programmer's
Handbook
"""

# #### List Comprehension and Generator Expressions
# ## Example 2-1
# Build a list of Unicode points from a string

symbols = "$¢£¥€¤"
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

In [3]:
# ## Example 2-2
# Build a list of Unicode points from a string with listcomp

symbols = "$¢£¥€¤"
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [4]:
# ## Example 2-3
# the same list built by listcomp and filter/map composition

symbols = "$¢£¥€¤"
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [5]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [6]:
# ## Example 2-4
# Cartesian product using listcomp

colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [10]:
# #### Generator Expressions
# ## Example 2-5
# Initializing a tuple and an array from genexp

symbols = "$¢£¥€¤"
tuple(ord(symbol) for symbol in symbols)

import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [11]:
# ## Example 2-6
# Cartesian product in generator expressions

colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [15]:
# ## Example 2-7
# Tuples used as records

lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

print([f'{a}/{b}' for a, b in sorted(traveler_ids)])

['BRA/CE342567', 'ESP/XDA205856', 'USA/31195855']

In [17]:
# ### Unpacking sequence and iterables

lax_coordinates = (33.9425, -118.408056)
longitude, latitude = lax_coordinates

print(longitude)
print(latitude)

33.9425
-118.408056

In [18]:
# swapping variables without using temporary variables
a, b = 1, 2

a, b = b, a

a, b

(2, 1)

In [19]:
# more unpacking

t = (20, 8)

quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [20]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [22]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [23]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [24]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [26]:
*head, b, c, d = range(10)
head, b, c, d

([0, 1, 2, 3, 4, 5, 6], 7, 8, 9)

In [27]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest


fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [32]:
*range(4), 4
[*range(5), 5]
{*range(4), 4, *(5, 6, 7)}

{0, 1, 2, 3, 4, 5, 6, 7}

In [37]:
# ## Example 2-8
# Unpacking Nested tuples to access the longitude

metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for name, _, _, (lat, lon) in metro_areas:
        if lon <= 0:
            print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358